<mat-toolbar color="primary">Amazon Deals Scraper</mat-toolbar>
<main class="content">
  <ng-container *ngIf="items$ | async as items; else loading">
    <mat-card *ngFor="let item of items">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image [src]="item.img" [alt]="item.title" />
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <a [href]="item.link" mat-stroked-button>See the Deal</a>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</main>
<ng-template #loading>
  <mat-progress-bar class="progress" mode="buffer"></mat-progress-bar>
</ng-template>
